.container {
  display: grid;
  grid-template-columns: repeat(1, minmax(auto, 1fr));
  row-gap: 8px;
  border: 1px solid #ffffff66;
  border-radius: 24px;
  backdrop-filter: blur(66px);
  box-shadow: 0px 20px 84px 0px #0000008c;
  padding: 24px;
  margin: 0 24px;
}

.grid-item {
  border-left: 1px solid #ffffff4d;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8px 16px;
}

.grid-item-label {
  color: #b0b5c3;
  font-weight: 500;
  letter-spacing: -0.005em;
}

.grid-item-value-container {
  display: flex;
  align-items: center;
  gap: 4px;
}

.grid-item-value {
  font-size: 32px;
  font-weight: 800;
  letter-spacing: -0.005em;
  word-break: break-word;
}

.grid-item-indicator {
  font-size: 32px;
  letter-spacing: -0.005em;
  color: #b5b9c4;
}

.span-whole-column {
  grid-column: 1 / -1;
}

@media (min-width: 780px) {
  .container {
    grid-template-columns: repeat(2, minmax(auto, 1fr));
  }

  .grid-item {
    width: 325px;
  }
}

@media (min-width: 1280px) {
  .container {
    grid-template-columns: repeat(3, minmax(auto, 1fr));
  }

  .grid-item-value {
    word-break: normal;
  }
}
