.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 16px;
  height: calc(100% - var(--navbar-height));
  gap: 16px;
}

.analysis-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 16px;
}
